<div class="panel panel-primary" id="welcome">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a data-toggle="collapse" href="#collapseWelcome" class="collapsed">
			You should read this before your first use
		</a>
	</h3>
</div>
<div id="collapseWelcome" class="panel-collapse collapse">
	<div class="panel-body">
		<h4>So what is this thing?</h4>
		<p>This webapp produces a list of <strong>items</strong> in you <strong>stream</strong> that could include blog posts, news pages or other pages on the internet that it thinks you'll find interesting.</p>
		<p>Have you ever used an RSS news reader like Feedly or Feeder? If you have, you're the ideal user for this system. Unlike conventional feed aggregators, this one intelligently selects items for you from sources you might never have seen.</p>
		<h4>How do you use it?</h4>
		<p>Simply start reading. The first time you use the system it'll choose items based on the links you entered when creating an account. All links in your stream open in a new tab via a redirect that allows the system to record your usage.</p>
		<p>Once you've read (or maybe you haven't, it might not interest you) it's time to tell the system what you thought.</p>
		<p>If you liked the item, i.e. it was interesting to you then click this button <a class="btn btn-success" role="button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></p>
		<p>If you didn't like the item, i.e. it wasn't interesting or you didn't like the site or author then click this button <a class="btn btn-danger" role="button"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a></p>
		<p>The <span class="label label-success">New</span> tag means the item was published less than 2 hours ago.</p>
		<p>The <span class="label label-danger">Old</span> tag means the item was published more than 6 months ago.</p>
		<h4>Why have I built this?</h4>
		<p>This web application has been created for my dissertation project to gain my degree in Computer Science.</p>
		<p>I personally use Feedly but keeping on top of the feed is frankly laborious considering I only click ~5% of the links. So I decided to make this thing.</p>
		<p>Thanks for taking time to read this. Now browse the web and don't forget to <a data-toggle="collapse" data-target="#reportBug" aria-expanded="false" aria-controls="reportBug">report any bugs</a> and <a href="mailto:jamie@fleek.in">send me an email</a> with any other comments.</p>
	</div>
</div>