<div class="panel panel-primary" id="welcome">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a data-toggle="collapse" data-target="#collapseWelcome" 
			href="#collapseWelcome" class="collapsed">
			Some important information you should read before use
		</a>
	</h3>
</div>
<div id="collapseWelcome" class="panel-collapse collapse">
	<div class="panel-body">
		<h4>So what is this thing?</h4>
		<p>Simply put, this web application produces a list of <strong>items</strong> that could include blog posts, news pages or other page on the internet that it beleives you'll find interesting and relevant to your interests.</p>
		<p>Have you ever used an RSS news reader like Feedly or Feeder? If you have, you're the ideal user for this system. Unlike conventional feede aggregators, this one intelligently selects items for you from sources you might never have seen.</p>
		<p>Below you'll find your <strong>stream</strong>. This is a list of items that the system has determined you'll probably find interesting based on what it has learnt about you. Hopefully you will find them intersting!</p>
		<h4>How do you use it?</h4>
		<p>Simply start reading. The first time you use the system it'll choose items based on the links you entered when creating an accont. All links in your stream open in a new tab via a redirect that allows the system to record your usage.</p>
		<p>Once you've read (or maybe you haven't, it might not interest you) it's time to tell the system what you thought.</p>
		<p>If you liked the item, i.e. it was interesting to you then click this button <a class="btn btn-success" role="button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></p>
		<p>If you liked the item, i.e. it was interesting to you then click this button <a class="btn btn-danger" role="button"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a></p>
		<p>If you liked the item, i.e. it was interesting to you then click this button <a class="btn btn-primary" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
		<h4>Why have I built this?</h4>
		<p>This web application has been made as part of the final part of attining my degree in Computer Science</p>
		<p>Thanks for taking time to read this.</p>
	</div>
</div>