<!DOCTYPE html>
<html>
<head>
    <title>New user <%= SiteName %></title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom page style -->
    <style type="text/css">
        
    </style>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Enable tooltips for this page -->
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <h1>Welcome <%= @name %></h1>
                <p>It looks like you're a new user.</p>
                <p>Please enter at least one URL of a news item you find interesting...</p>
                <form action="<%= @name %>/likeSeed" method="post">
                    <input type="text" name="url0" required>
                    <input type="text" name="url1">
                    <input type="text" name="url2">
                    <input type="text" name="url3">
                    <input type="text" name="url4">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <%=erb :'partials/footerButtons'%>
</body>